body {
  padding: 0;
  margin: 0 auto;

  max-width: 43em;

  background-color: gray;
  color: black;

  font-family: Sans;
  font-size: 1em;
}

/* Content of the page */
#content {
  padding: 0 0.5em;
  background-color: white;
}

#banner {
  display: flex;
  justify-content: center;
}

#banner img {
  width: 4.3em;
  height: 4.3em;
}

nav {
  text-align: center;
}

nav button {
  font-size: large;
  border: none;
  background-color: inherit;
  padding: 0.25em 0.5em;
}

nav button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

pre {
  margin-left: 1em;
  font-family: monospace;
}

.description {
  padding: 0;
}

h3 {
  margin-bottom: 0;
}

.description {
  border: solid black 1px;
  padding: 0 0.2em;
}

.constant {
  color: #fe8600;
}

.string {
  color: #556486;
}

.binding-modifier {
  color: #558a86;
}

.binding-modifier-plus {
  color: #5f86fe;
}

.comment {
  color: #808080;
}

.mouse-button {
  color: #556486;
}

.key-symbol {
  color: #556486;
}

.keyword {
  color: #5f8afe;
}

.variable {
  color: #860086;
}
